
body{

font-family:Arial;
background:linear-gradient(135deg,#0f172a,#020617);
color:white;
height:100vh;
display:flex;
align-items:center;
justify-content:center;

}

.container{

text-align:center;
width:700px;

}

h1{

margin-bottom:30px;
font-size:36px;

}

.card{

background:#0f172a;
padding:40px;
border-radius:15px;
box-shadow:0 0 25px rgba(0,0,0,0.6);

}

input{

width:70%;
padding:14px;
border-radius:8px;
border:none;
font-size:16px;

}

button{

padding:14px 25px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
margin-left:10px;

}

button:hover{

background:#1d4ed8;

}

.result{

margin-top:30px;
font-size:18px;

}

a{

color:#a855f7;
text-decoration:none;

}
